
body
{
	background-color:#000000;
	color:#000000;
	float:center;
}

img.display
{
	display:block;
    margin:auto;
	width:600px;
	height:600px;
}

input[type="text"]:disabled
{
	background:#333333;
} 

div.center
{
	display: table;
    margin: 0 auto;

}

form.login
{

   color:#FFFFFF;
   background:#111; 
  float:left;
  margin:30px auto;
  border-radius:0.4em;
  border:1px solid #191919;
  overflow:hidden;
  position:relative;
  box-shadow: 0 5px 10px 5px rgba(0,0,0,0.2);

}

form.search
{
color:#FFFFFF;
   background:#111; 
   width:auto;
height:auto;
  float:right;
  margin:30px auto;
  border-radius:0.4em;
  border:1px solid #191919;
  overflow:hidden;
  position:relative;
  box-shadow: 0 5px 10px 5px rgba(0,0,0,0.2);
}

div.box
{

  color:#0000FF;
  	background-image: url("metal.jpg");
	background-size: 70% 100%;
    background-repeat: no-repeat;
	background-position: center;
  border-radius:0.4em;
  border:1px solid #191919;
  box-shadow: 0 5px 10px 5px rgba(0,0,0,0.2);

}
div.right
{
	float:right;
}