	@charset "utf-8";
/* CSS Document */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

/* CSS Reset */
*	{
	margin: 0; padding: 0;
	outline: 0; border: 0;
	}
	
/* Base elements L-30 */
html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

body {
	margin-top: 30px;
	height: 100%;
	font-family: 'Open Sans', helvetica, "Lucida Grande", sans-serif;
	font-size:14px;
}

a {
	text-decoration: none;
	color: #FF9900;
}

a:focus {
	color: #fff;
	text-decoration: underline;
}

a:active {
	color: #fff;
	text-decoration: underline;
}

a:hover {
	color:#FF8000;
	text-decoration:none
}

input, select, password{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

text {
  font: 14px sans-serif;
}

/* End Formatting */
#wrapper {
	margin: auto;
	margin-bottom: 50px;
	width: 960px; 
	min-height: 380px;
	/*border: 1px solid #66D766;*/
}

/* UI box */
.ui-box	{
	display: inline-block;
	margin:1.5% 0;
	float: left;	
}

.ui-box2	{
	display: inline-block;
	width: 55%;
	border: 1px solid #e0e;
}

.ui-box2 span	{
	display: inline-block;
	width: 180px;
	text-align: center;
	border: 1px solid silver;
}

.ui-box2 span:nth-child(3)	{
	border: 1px solid #00e;
	width: 80px;
}

.ui-form-con			{
	margin: 20px auto;
	width: 935px;
	padding: 0 10px;
	-webkit-font-smoothing: antiliased;
	border-radius: 3px;
	border: 1px solid #ccc;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}

.ui-form-con form:		{
	margin: 0 auto;
	margin-top: 20px;
	height: 100%;
}

.registration,
.center,
.ui-form-con fieldset	{
	padding: 0.2em;
	margin: 50px auto;
	border: 1px outset #7EDC67;
	border-radius: 3px;
}

.wrapper1 label,
.center label,
.ui-form-con label{
	color: #555;
	display: inline-block;
	margin: 10px 0 0 18px;
	padding-top: 10px;
	font-size: 14px;
}

.ui-form-con #slider_form{
	text-align:center
}

.ui-form-con #slider, ::-moz-range-track, ::-ms-track{
-webkit-appearance: none;
background-color: 3f91e5;
width: 250px;
height:20px;
}

.ui-form-con  ::-webkit-slider-thumb, ::-moz-range-thumb, ::-ms-thumb {
-webkit-appearance: none;
background-color: #666;
width: 10px;
height: 20px;
}

/*give these a class*/
.ui-form-con #State2,
.ui-form-con #State1,
.ui-form-con #Zip2,
.ui-form-con #Zip1,					/*state and zipcode*/
.ui-form-con #AFA,					/*fleet age*/
.ui-form-con #SA,					/*service area*/
.ui-form-con #NoSS{					/*Number of Satellite Stations*/
	width: 50px;
}

/*give all of these a class maybe?*/
.center input,
.center select,
.center password,
.ui-form-con password,
.ui-form-con select,
.ui-form-con select,
.ui-form-con input, 
.ui-form-con textarea	{
	outline: none;
	border: 1px solid #c7d0d2;
	border-radius: 3px;
	-webkit-transition: all .6s ease-in .4s;
	   -moz-transition: all .6s ease-in .4s;
	     -o-transition: all .6s ease-in .4s;
	    -ms-transition: all .6s ease-in .4s;
		   transition: all .6s ease-in .4s;
}

.ui-form-con password:hover,
.ui-form-con select:hover,
.ui-form-con input:hover, 
.ui-form-con textarea:hover	{ box-shadow: inset 0px 3px 5px rgba(165,247,168, .7),0 0 0 3px #f5f7f8; 
}

.ui-form-con password:focus,
.ui-form-con select:focus,
.ui-form-con input:focus, 
.ui-form-con textarea:focus	{
	box-shadow: inset 1px 3px 5px rgba(175, 165, 248, .7), 0 0 0 3px #f5f7f8;
}


.center input,
.center select,
.center password,
.ui-form-con input[type=password],
.ui-form-con select,
.ui-form-con input[type=number],
.ui-form-con input[type=text] {
    color: #777;
    padding-left: 10px;
    margin: 10px;
    margin-top: 12px;
    margin-left: 15px;
    width: 170px;
    height: 30px;
}

.wrapper1 password,
.wrapper1 select,
.wrapper1 input,
.center input,
.center select,
.center password,
.ui-form-con input[type=text]: {
color: #fff;
}

.ui-form-con input[type=button]	{
	padding: 5px;
	width: 50px;
	cursor: pointer;	
	font-size:	14px;
	font-weight:	bold;
	color:		#fff;
	
	background-color: #acd6ef; /*IE fallback*/
	background-image: -webkit-gradient(linear, left top, left bottom, from(#acd6ef), to(#6ec2e8));
	background-image: -moz-linear-gradient(top left 90deg, #acd6ef 0%, #6ec2e8 100%);
	background-image: linear-gradient(top left 90deg, #acd6ef 0%, #6ec2e8 100%);
	
	border-radius: 20px;
	border: 1px solid #66add6;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .3), inset 0 1px 0 rgba(255, 255, 255, .5);
}

.ui-form-con input[type=button]:hover,
.ui-form-con input[type=button]:focus	{
	background-color: #B4EFAB; /*IE fallback*/
	background-image: -webkit-gradient(linear, left top, left bottom, from(#B4EFAB), to(#7DE86F));
	background-image: -moz-linear-gradient(top left 90deg, #B4EFAB 0%, #7DE86F 100%);
	background-image: linear-gradient(top left 90deg, #B4EFAB 0%, #7DE86F 100%);
	border: 1px solid #66D766;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .3), inset 0 1px 0 rgba(255, 255, 255, .5);
}

.ui-form-con input:disabled,
.ui-form-con select:disabled {
	background-color: #E0E0E0;
	-webkit-transition: all .6s ease-in .4s;
	   -moz-transition: all .6s ease-in .4s;
	     -o-transition: all .6s ease-in .4s;
	    -ms-transition: all .6s ease-in .4s;
		   transition: all .6s ease-in .4s;
}

.ui-form-con textarea{
	color: #777;
	padding-top: 10px; padding-left: 10px; 
	margin: 15px;
	width: 650px; height: 80px;
}

.ui-form-con #outputm{
	width: 870px;
	margin-right: 0px;
	
}

.ui-form-con #ProdMan{
	width: 472px;
}

.ui-form-con #Address1 {
	width: 200px;
}

/*----------------------------refining page formatting--------------------*/
.box1,
.optionsMaster,
.benefitsMaster,
.quantityMaster,
.employeeMaster{
	margin: 10px;
	float:left;
	width:350px;
	padding: 0 5px;
	-webkit-font-smoothing: antiliased;
	flex-flow:row wrap;
	align-content: space-between;
}

.optionsMaster{
	width:250px;
}

.benefitsMaster,
.quantityMaster{
	display:flex;
	justify-content:center;
	width:100px;
}

.benefitsMaster #head,
.quantityMaster #head,
.optionsMaster #head,
.employeeMaster #head{
	display:flex;
	justify-content:center;
}

.benefitsMaster input[class=benefits]{
	width:100px;
}

.quantityMaster input[class=noEmp]{
	width:50px;
}

.options{
	display:flex;
	flex-flow:row wrap;
	justify-content:space-between;
	align-content:center;
}

.employees{
	display: flex;
	flex-flow:row wrap;
	justify-content: space-between;
}

 .employees input[class=refine]{
	width:100px;
}

.box1{
	width:425px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-content: space-between;
}

.box2 {
	width: 870px;
}

/*refining page*/
.chartTitle{
	margin: auto;
	padding-bottom:10px;
	-webkit-font-smoothing: antiliased;
	display: flex;
	justify-content: center;
	align-content:center;
	width:100%;
}

.chartTitle label{
	color: #555;
	vertical-align:middle;
	font-family: 'Open Sans', helvetica, "Lucida Grande", sans-serif;
	font-size:35px;	
	font-weight:bold;
}

/* login div */
#login{
	height: 20px;
	width: 60px;
	margin-top: 175px;		/*168*/
	float: right;
	font-weight:bold;
	color: #FF6600;
	cursor: pointer;
	position: relative;
	z-index: 100;
}

/*bolds appended legend names*/
.product{
font-weight:bold;
}

/* login page border: 1px solid #66D766;*/
.center{
	width: 375px;
	height: 300px;
	-webkit-font-smoothing: antiliased;
	border-radius: 3px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
	margin:0 auto;	
}

.registration legend,
.center legend{
	font-size:18px;
	font-weight: bold;
}

.loginDiv{
	position:absolute;
	top: 20px;
	bottom: 20px;
	width: 100%;
	display: flex;
	flex-flow: row wrap;
	align-content: center;
	justify-content: center;
}

#first,
#second{
	float:left;
	height: 250px;
	width: 175px;
	margin-bottom:20px;
	margin-top: 20px;
	display: flex;
	flex-flow: row wrap;
	align-content: space-between;
	
}

#second{
	float:right;	
}

#loginButton1,
#loginButton2 {
	color: #000000;
	font-weight: bold;
	text-align: center;
}

#loginButton2 {
	color: #ffffff;
}

/*registration page */
.clientInputs #password,
.clientInputs #confirm_password,
.wrapper1 select,
.wrapper1 input [type=number],
.wrapper1 input[type=text]{
    color: #777;
    padding-left: 10px;
    margin: 10px;
    margin-top: 12px;
    margin-left: 15px;
    width: 170px;
    height: 30px;
	outline: none;
	border: 1px solid #c7d0d2;
	border-radius: 3px;	
}

.padMe1 {
margin-right:12px;
}

.padMe2 {
margin-left:12px;
}

.clientInputs{
	display: inline-block;
	margin:1.5% 1.5% 1.5% 1.5%;
	display: flex;
	flex-flow: row wrap;
	align-content: space-between;
	justify-content: space-between;
}

.forSpans {
	display: inline-block;
	width: 400px;
	height:100%;
}

.move{
	width:500px;
	display: flex;
	justify-content: space-between;
}

.forSpans #moveSpans1{
	margin-top:17.6%;
	height:20px;
}

.moveSpans{
	height:20px;
	margin-top: 8%;
}

 .phoneMessage{
	height:20px;
	margin-top: 98%;
}

.clientInputs #zip,
.clientInputs #state,
.clientInputs #month{
	width:120px;
}

.clientInputs #year,
.clientInputs #day{
	width:75px;
}

/* styling for bar charts on sensitivity analysis page and outputs page */
.chart {
  height: 500px;
  width: 80%;
  min-width: 100px;
  min-height: 100px;
}

.box,
.fullSize{
	width: 100%;
}

#statistics{
	border-radius: 46px 46px 46px 46px;
	-moz-border-radius: 46px 46px 46px 46px;
	-webkit-border-radius: 46px 46px 46px 46px;
	border: 1px solid orange;
	margin-left:5px;
	height:275px;
	width: 14%;
	text-align:center;
	font-size:12px;
	display:inline;
	margin-top: 75px;
	background-color:white;
	padding: 5px 5px 5px 5px;
	display:flex;
	flex-flow:row wrap;
	justify-content:center;
}

.stats {
	margin-top:5px;
}

.forStats{
	width:930px;
	display:flex;
	flex-flow:row wrap;
	justify-content:space-between;
	align-content:center;
	padding-right: 5px;
}

#controls{
	width:662px;
	height:25px;
	/*border: 1px solid #66D766;*/
	display:flex;
	flex-flow:row wrap;
	justify-content: space-between;
}